<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/stylesganancias.css}" />
  <title>Tus ganancias - JobXpress</title>
</head>
<body>

  <header class="navbar">
    <div class="logo">JobXpress</div>

    <nav class="nav-links">
      <a th:href="@{/prestador/home}">Inicio</a>
      <a th:href="@{/prestador/servicioPrestador}">Tu servicio</a>
      <a th:href="@{/prestador/perfil}">Tu Perfil</a>
      <a th:href="@{/prestador/chat}">Chat</a>
      <a th:href="@{/prestador/ganancias}">Tus ganancias</a>
      <a th:href="@{/prestador/valoraciones}">Tus valoraciones</a>
      <a th:href="@{/prestador/agenda}">Mi agenda</a>
      <a th:href="@{/prestador/dashboard}" class="activo">Dashboard</a>

      <!-- Cerrar sesión -->
      <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
          Cerrar sesión
      </a>
      <form id="logout-form" th:action="@{/logout}" method="POST" style="display:none;"></form>
  </nav>
  </header>

  <section class="contenedor-ganancias">
    <div class="resumen">
      <h1>Tus Ganancias</h1>

      <div class="tarjeta-total">
        <h2>Total Acumulado</h2>
        <p class="monto">$600.000 COP</p>
      </div>

      <h3>Historial de Pagos</h3>
    </div>

    <div class="lista-pagos">

      <div class="pago">
        <div class="avatar"><span>D</span></div>
        <div class="info-pago">
          <div class="nombre-fecha">
            <strong>nebulanomad</strong> <span class="fecha">23d</span>
          </div>
          <p>Pago del servicio: <span class="monto-servicio">$300.000 COP</span></p>
        </div>
      </div>

      <div class="pago">
        <div class="avatar"><span>E</span></div>
        <div class="info-pago">
          <div class="nombre-fecha">
            <strong>emberecho</strong> <span class="fecha">5d</span>
          </div>
          <p>Pago del servicio: <span class="monto-servicio">$100.000 COP</span></p>
        </div>
      </div>

      <div class="pago">
        <div class="avatar"><span>S</span></div>
        <div class="info-pago">
          <div class="nombre-fecha">
            <strong>starryskies23</strong> <span class="fecha">1 mes</span>
          </div>
          <p>Pago del servicio: <span class="monto-servicio">$100.000 COP</span></p>
        </div>
      </div>

      <div class="pago">
        <div class="avatar"><span>J</span></div>
        <div class="info-pago">
          <div class="nombre-fecha">
            <strong>julian99</strong> <span class="fecha">1d</span>
          </div>
          <p>Pago del servicio: <span class="monto-servicio">$100.000 COP</span></p>
        </div>
      </div>

    </div>
  </section>

  <footer class="footer">
    <p>© 2025 JobXpress — Impulsando tu trabajo con confianza</p>
  </footer>

</body>
</html>
