<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Perfil | JobXpress</title>
    <link th:href="@{/css/stylesperfilprestador.css}" rel="stylesheet">
</head>
<body>

  <!-- ===== NAVBAR ===== -->
  <header class="navbar">
    <div class="logo">JobXpress</div>
   <nav class="nav-links">
      <a th:href="@{/prestador/home}">Inicio</a>
      <a th:href="@{/prestador/servicioPrestador}">Tu servicio</a>
      <a th:href="@{/prestador/perfil}">Tu Perfil</a>
      <a th:href="@{/prestador/chat}">Chat</a>
      <a th:href="@{/prestador/ganancias}">Tus ganancias</a>
      <a th:href="@{/prestador/valoraciones}">Tus valoraciones</a>
      <a th:href="@{/prestador/agenda}">Mi agenda</a>
      <a th:href="@{/prestador/dashboard}" class="activo">Dashboard</a>

      <!-- Cerrar sesión -->
      <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
          Cerrar sesión
      </a>
      <form id="logout-form" th:action="@{/logout}" method="POST" style="display:none;"></form>
  </nav>
  </header>

  <!-- ===== PERFIL ===== -->
  <section class="perfil">
    <h1 class="titulo-perfil">Tu Perfil</h1>

    <div class="perfil-card">

      <div class="foto-container">
        <img th:src="@{/img/gratis-png-abrir-perfil-de-usuario-contenido-de-facebook-facebook-removebg-preview.png}"
             alt="Foto de perfil"
             class="foto-perfil">
      </div>

      <div class="info">
        <h2>David Oliveros</h2>
        <p><strong>Email:</strong> oliveros@gmail.com</p>
        <p><strong>Teléfono:</strong> 3107945204</p>
        <p><strong>Dirección:</strong> Dig 30J</p>
        <p><strong>Rol:</strong> Prestador de servicios</p>

        <button class="btn-editar">Editar perfil</button>
      </div>

    </div>
  </section>

</body>
</html>
